
* {
  margin:0;
  border:0;
  padding:0;
   }

[draggable=true] {
   cursor: move;
   }

body {
	/*background-color: #e6e6e6;*/
	font-size:1.2em;
	font-family:serif;
	height: 100vh;
	display: grid;
	grid-template-rows: 40px 1fr 40px;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

header, footer {
	grid-column: 1 / -1;
	background-color: #0089FF;
}

footer p {
   padding-top: 5px;
   text-align:center;
   }

/* #titelzeile {
	grid-column: 1 / 6;
	grid-row: 1 / 2;
	height: 100%;
	padding-left: 0.5em;
	background-color: #0089FF;
        display: inline;
} */

#MainMenu {
	height: 100%;
}

#MainMenu ul {
	padding-left: 0.5em;
	margin-top: 10px;
}

#MainMenu li {
	list-style: none;
	margin-right: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	display: inline;
}

#MainMenu li:hover {
	background-color: red;
	cursor: pointer;
}

#MainMenu .mAktiv {
   border-bottom: 3px solid red;
}

#titelbild {
        display: block;
	justify-self: center;
	align-self: center;
	background-color: white;
	overflow: scroll;
	width: 70%;
   }

/* footer {
	grid-column: 1/ 6;
	grid-row:    3 / 4;
	background-color: #0089FF;
   } */


.InnerMenu {
    padding-top: 10px;
}

.InnerMenu ul {
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
}

.InnerMenu li {
	list-style: none;
	margin-right: 0.7em;
	text-decoration: underline;
	display: inline;
}

.InnerMenu li:hover {
	color: #F17F00;
	font-weight: bold;
	text-decoration:none;
	cursor: pointer;
}

.InnerMenu .iAktiv {
	color: #F17F00;
	font-weight: bold;
	text-decoration:none;
}
/* ========= Kontenrahmen ============================================= {** */
#kontenrahmen {
   position: absolute;
   top: 1em;
   left: 1em;
   width: 400px;
   background-color: white;
   border: 2px solid black;
   padding: 0.5em;
   padding-right: 0;
   z-index: 10;
   display: none;   
   }

#tabKontenrahmen {
/*    border-collapse: collapse; */
   display:block;
   }
 
#tabKontenrahmen tbody {
   height: 750px;
   display: inline-block;
   width: 100%;
   overflow-y: scroll;
   }
 /* **} */




.links {
	grid-column: 1 / 4;
	grid-row:    2 / 3;
	overflow: scroll;
	padding-right: 3rem 
}


.links h1 {
	font-size: xxx-large;
	color: #F17F00;
	padding-left: 2rem;
	padding-top: 3rem;
}

.links h2 {
	/*font-size: xxx-large;*/
	padding-left: 2rem;
	color: #F17F00;
	padding-top: 2rem;
}

.links h3 {
	/*font-size: xxx-large;*/
	padding-left: 5rem;
	padding-top: 1rem;
}

.links p {
	padding-left: 5rem;
	padding-top: 1rem;
}

.links blockquote {
	font-style: italic;
	padding-left: 5rem;
	padding-right: 5rem;
}

.links ul {
	margin-left: 6rem;
}

.links nav ul {
	margin-left: 0rem;
}

.links li {
	padding-top: 1ex;
}

.links table {
	border-collapse: separate;
	border-spacing: 1rem 0;
	margin-left: 5rem;
	margin-top: 1rem;
}

.links tr {
	padding-top: 3px;
	padding-bottom: 3px;
}



.rechts {
	/* background-color: #F17F00; */
	grid-column: 4 / 6;
	grid-row:    2 / 3;
	overflow: scroll;
}

   /* ================== Allgemeine Formatierungen, später in eigene Datei */
.tabHL {
	height: 3px;
	background-color: black;
}	

.tabVL {
	width: 3px;
	background-color: black;
}

.ktoText {
	width:15rem;
	padding-left: 5px;
	overflow: hidden;
}

.ktoMitte {
	width:10rem;
	overflow: hidden;
}

.ktoZahl {
	width:15rem;
	text-align: right;
	padding-right: 5px;
	overflow: hidden;
}

.ktoSumme {
	width:15rem;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
	overflow: hidden;
}

.konto {
	border-collapse: collapse;
	border-spacing: 0 0;
	table-layout: fixed;
	overflow: hidden;
}

 /*Formulare gestalten */

/* Tabelle für Formulare */

.tabEingabe {
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
   }

.tabEingabe th {
	 border-bottom: 2px solid black;
	 font-weight: bolder;
}

.tabEingabe td {
   padding-top: 0.1em;
   padding-bottom: 0.1em;
   padding-left: 0.3em;
   padding-right: 0.3em;
}

 .tabEnde {
	 border-top: 2px solid black;
 }
 
 .FormButton {
   font-size: 0.8em;
   list-style: none;
   margin-left: 0.3em;
   margin-right: 0.3em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   border-radius:0.3em;
   background-color: lightgrey;
   border: 2px solid black;
   display: inline;
   }

.FormButton:hover {
	background-color: white;
	cursor: pointer;
}

input {
   font-size: 1em;
   background-color: lightgrey;
   text-align: right;
   }
   
.richtig {
    background-color: green;
    }

.falsch {
    background-color: red;
    }

.AuswertungStart {
   height: 20px;
   width: 20px;
   background-color: inherit;
   background-image: url(../bilder/dummy.png);
   background-repeat: no-repeat;
   border: none;
   }

.AuswertungRichtig {
   height: 20px;
   width: 20px;
   background-color: inherit;
   background-image: url(../bilder/richtig.png);
   background-repeat: no-repeat;
   border: none;
   }

.AuswertungFalsch {
   height: 20px;
   width: 20px;
   background-color: inherit;
   background-image: url(../bilder/falsch.png);
   background-repeat: no-repeat;
   border: none;
   }


